$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icons" !default;

$icon-next-1: "\e90a";
$icon-menu: "\e908";
$icon-Facebook: "\e903";
$icon-Twitter: "\e904";
$icon-star: "\e905";
$icon-youtube: "\e906";
$icon-instagram: "\e907";
$icon-calendar: "\e900";
$icon-book: "\e901";
$icon-arrow-right: "\e902";
$icon-search: "\e909";
$icon-close: "\e90b";
$icon-contrast: "\e9d5";

